In [ ]:
# Load your data
import pandas as pd

# Load either your real data or generated sample data
df = pd.read_csv('../data/raw/sample_expenses_2023_2024.csv')

print("=== DATA STRUCTURE ANALYSIS ===\n")

print(f"Dataset shape: {df.shape}")
print(f"Columns: {list(df.columns)}")
print(f"\nData types:")
print(df.dtypes)

print(f"\nMissing values:")
print(df.isnull().sum())

print(f"\nDate range:")
print(f"From: {df['date'].min()}")
print(f"To: {df['date'].max()}")

print(f"\nAmount statistics:")
print(df['amount'].describe())

print(f"\nUnique categories:")
print(df['payment_method'].value_counts())

print(f"\nSample transactions:")
print(df.head())

=== DATA STRUCTURE ANALYSIS ===

Dataset shape: (1013, 7)
Columns: ['transaction_id', 'date', 'amount', 'category', 'description', 'payment_method', 'merchant']

Data types:
transaction_id            object
date              datetime64[ns]
amount                   float64
category                  object
description               object
payment_method            object
merchant                  object
dtype: object
None

Missing values:
transaction_id    0
date              0
amount            0
category          0
description       0
payment_method    0
merchant          0
dtype: int64

Date range:
From: 2023-08-01 00:00:00
To: 2024-07-31 00:00:00

Amount statistics:
count    1013.000000
mean      -25.782409
std       498.882023
min      -297.950000
25%      -103.240000
50%       -63.770000
75%       -40.030000
max      4500.000000
Name: amount, dtype: float64

Unique categories:
payment_method
Credit Card        588
Debit Card         247
Cash               114
Online Transfer     52
Direct Deposit      12
Name: count, dtype: int64

Sample transactions:
  transaction_id       date   amount       category     description  \
0      TXN126225 2023-08-01   -27.55      Groceries     SUPERMARKET
1      TXN809570 2023-08-01   -43.84      Groceries     SUPERMARKET
2      SAL970068 2023-08-01  4500.00         Salary  MONTHLY SALARY
3      TXN356787 2023-08-01   -73.73  Entertainment   MOVIE THEATER
4      TXN246316 2023-08-01   -84.08  Miscellaneous        BANK FEE

   payment_method       merchant
0            Cash    SUPERMARKET
1     Credit Card    SUPERMARKET
2  Direct Deposit  EMPLOYER NAME
3     Credit Card  MOVIE THEATER
4     Credit Card       BANK FEE